#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.loader {
    margin-top: 50%;
    width: 400px;
    height: 400px;
    border: 2.25em solid currentColor;
    border-right-color: transparent;
}
#result_table {
    display: none;
}
#download {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 400px;
    z-index: 99;
}